
.container-fluid{
  padding: 0;
}

.container {
  padding: 0;
}

.contentcontainer {
  width: 80%;
}

.custom-nav{
  background-color: #333333;
}

.custom-nav a{
  background-color: #333333;
  color: #fff !important;
}

.kampagne-container {
  width: 100%;
  background-color: grey;
}
<<<<<<< HEAD

.row{
  margin: 0;
}

.custom-carousel{
  text-align: left;
  padding: 6px 0 0 18px;
  background-color: #2d4e6c;
}

.carousel-caption{
  margin-bottom: -20px;
}

.carousel-caption > h1 {
  font-weight: 200;
  font-size: 3em;
  padding-bottom: 25px;
}

.carousel-caption > p {
  font-weight: 100;
  font-size: 1.15em;

}
=======
>>>>>>> parent of d3babfd... Merge branch 'master' of https://github.com/sbstefanbern/Foedevarestyrelsen
