body{
  font-family: "Oxygen", sans-serif;
}

p{
margin: auto;
}

.container{
  max-width: 2400px;
  padding: 0;
}

.col-sm-4{
  padding: 0;
}

.col-sm-6{
  padding: 0;
}

.col-first-half{
  padding-right: 10px;
}

.col-second-half{
  padding-left: 10px;
}

.col-middle{
  padding: 0 15px;
}

.navbar {
  padding: 0;
  margin: 0;
}

.nav-link {
  padding: 0;
  margin:0 ;
}

footer{
  background-color: #d2d2d2;
  padding-top: 30px;
}

.copyright{
  background-color:#333333;
  color:#333333;
  margin-top: 70px;
}

.headercontainer {
  width: 100%;
  
  margin: 0 auto;
  padding: 0;


}

.container-fluid {
  padding: 0;
}

li a{
  color: black;
}

li a:hover{
  color: #2b2b2b;
  text-decoration: none;
}


.logoimg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 5rem;
}

.container-fluid{
  padding: 0;
}

.contentcontainer {
  width: 80%;
  margin: 0 auto;
}

.carousel-caption {
  right: 0;
  left: 0;
  margin: 0 auto;
}

.custom-nav{
  background-color: #333333;
}

.custom-nav a{
  background-color: #333333;
  color: #fff !important;
}

.kampagne-container {
  width: 100%;
  background-color: grey;
}

.dynamic-tabs-container {
  width: 100%;
  background-color: #d2d2d2;
}

.row{
  margin: 0;
}

.custom-carousel{
  background-color: #2d4e6c;
}

.carousel-caption > h1 {
  font-weight: 200;
  font-size: 3em;
  padding-bottom: 25px;
}

.carousel-caption{
  margin-bottom: -25px !important;
  text-align: left;
  padding-left: 20px;
}

.navbar-darkgrey{
  padding: 8px 0;
  font-size: 19px;
  font-weight: 100;
}

.navbar-darkgrey li{
  margin-right: 25px;
}

.fff{
  font-family: "Oxygen", sans-serif;
  color: black;
}

.fff:hover{
  color: #2b2b2b;
}

.carousel-caption > p {
  font-weight: 100;
  font-size: 1.15em;
}

.dynamic-tabs li{
  padding: 15px 40px;
  background-color: #eaeaea;
  transition: all 0.4s ease;
}

.dynamic-tabs li:hover{
  background-color: #d2d2d2;
}

.active{
  background-color: #d2d2d2;
}

.tab-pane{
  padding: 20px 0 0 0;
}

.tab-pane p{
  text-decoration: none !important;
}

.tab-pane h3{
  font-weight: 100;
  text-decoration: none;
}

.footercontainer{
  max-width: 2400px;
  padding: 0;
  background-color:#d2d2d2;
}
.krone{
}
